@font-face {
  font-family: JosefinSans-Regular;					/* text */
  src: url(JosefinSans-Regular.ttf);
}

@font-face {
  font-family: LuckiestGuy-Regular;					/* logo */
  src: url(LuckiestGuy-Regular.ttf);
}

/*------------------------------*/

* { 
	margin:0; 
	padding:0; 
} 

html, body { 
	width:100%; 
	height:100%; 

} 

canvas { 
	display:block;
} 

.pause {
	width: 100%;
	position: absolute;
	top: 45%;
	text-align: center;
	font-size: 6em;
	text-transform: uppercase;
	font-family: Arial Black;
	font-weight: bold;
	color: #ffccb3;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: none;
}

.theend {
	width: 100%;
	position: absolute;
	top: 45%;
	text-align: center;
	font-size: 6em;
	text-transform: uppercase;
	font-family: Arial Black;
	font-weight: bold;
	color: brown;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: none;
}

a {
	color: yellow;
	font-size: 0.5em;
}

a:hover {
	color: orange;
}

a:active {
	color: gold;
}

#startmenu {
	width: 100%;
	float: center;
	text-align: center;
	display: none;
}

.coins {
	position: absolute;
	top: 2%;
	right: 2%;
	font-family: Arial Black;
	font-size: 2vh;
	font-weight: bold;
	color: rgb(220,220,220);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: none;
}

#timer {
	position: absolute;
	top: 2%;
	width: 100%;
	text-align: center;
	font-family: Arial Black;
	color: white;
	font-size:4vh;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.howTo {
	position: absolute;
	top: 2%;
	left: 2%;
	font-family: Arial Black;
	font-size: 2vh;
	font-weight: bold;
	color: rgb(220,220,220);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: block;
	background-color: Transparent;
	border: 0px;
	text-decoration: none;
}

.howTo:hover {
	color: rgb(200,150,30);
}

.howTo:active {
	color: brown;
}





.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #ffcc00;
  font-family: LuckiestGuy-Regular;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  padding-top: 5%;
  text-align: center;
  max-height: 30%;
  overflow: auto;
  font-family: JosefinSans-Regular;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}